.caption {
    margin-bottom: 1.8rem;
    text-align: center;
}

.caption span {
    background: linear-gradient(to right, #ea3937, #6f5e98, #62c377);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.0rem;
    letter-spacing: 0.4rem;
}
