.gnb_wrap {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
}
.gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ea3937, #6f5e98, #62c377);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gnb li {
    padding: 1rem 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}
.gnb li:last-of-type {
    display: inline-flex;
    align-items: center;
}