/* .meal { */
/*     padding: 7rem 2.4rem 7rem; */
/* } */

.meal {
    position: relative;
    padding: 28rem 0 7rem;
    text-align: center;
}

.meal > p {
    font-size: 1.6rem;
    line-height: 2.2;
}

