.worship {
    position: relative;
    padding: 1rem 0 3rem;
    text-align: center;
}

.worship > p {
    font-size: 1.6rem;
    line-height: 2.2;
}

.information {
    padding: 3.2rem 3.2rem 0;
}
.information img {
    width: 1.4rem;
}
.information p,
.information span {
    margin-top: 1.2rem;
    font-family: 'pretendard', sans-serif;
    font-size: 1.4rem;
    line-height: 2;
}
.information span {
    font-weight: 600;
}
